.container{
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}
.elem{
    background-color: #4A76A8;
}
.alerts img{
    max-width: 30px;
    max-height: 30px;
}
.items{
    display: flex;
}
.align{
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}

