.wrapp{
  display: flex;
  margin: 15px 0 0 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
}
.ava {
  max-width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.ava img{
  max-width: 100%;
}
.input {
  width: 100%;
  align-self: center;
  margin-left: 10px;
}
.input input{
  width: 100%;
}
.btn{
  align-self: flex-end;
}
.btn_cl{
  padding: 7px 15px;
  color: #fff;
  background-color: #4A76A8;
  border-radius: 3px;
}
